body{style="text_align: center; background-repeat: no-repeat; background-image: url("B1.jpg"); background-size: 100% 100%; color:white; font-family: monospcae;"}
.h1{text_align: center; color: black"}

