*{margin:0px; padding:0px;}

body{ height:auto; width:100%; background:#2b3854}
.h1{height:100%; width:100%; border:0px solid #CCC; background:rgba(255,255,255,1); position:centre; font-size:16px; color:#fff; line-height:30px; text-align:center}

